@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	color: #fff;
  font-family: 'roboto', Arial, serif; font-weight: 300;
	font-size: ;
	text-align: center;
	overflow-x: hidden;
	padding-bottom: 50px;
}

a {text-decoration: none;
  color: black;
  cursor: crosshair;
}

.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
}

.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 100px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
  opacity: 0.8;
}

.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
  opacity: 0.8;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
  width:100%;
  opacity: 0;
   -webkit-transition:opacity .6s;
   -moz-transition:opacity .6s;
   -o-transition:opacity .6s;
   transition: opacity .6s;
}

.loaded section {
    opacity: 1;
}

/* Screens Settings */
#screen1 {
	background: #000;
}

#screen1 p {
  text-align: center;
  font-family: 'roboto', Arial, serif; font-weight: 300;
  font-size: 60px;
}

.big {
  text-align: center;
  font-family: 'roboto', Arial, serif; font-weight: 100;
  font-size: 40px;
}
#screen2 {
	background: #000;
}


#screen3 {
	background: #111c27;
}

#screen4 {
	background: #000;
}

#screen6 {
	background: #111c27;
}

/* This is Timeline section */

.timeline {
  position:relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px 100px;
}

.timeline ul {
  width: 100%;
  height: 100%;
  background: #000;
  padding: 50px 0;
  color: #000;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 40px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #fff;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: grey;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }

}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fff transparent transparent;
  }

}

/* This is Gallery section */

#slide-window
  {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  top:0px;
  left:0px;
  }

#slides
  {
  height:100%;
  position:relative;
  margin:0px;
  padding:0px;

  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);

  transition: all 0.66s ease; -webkit-transition: all 0.66s ease;

  }

.slide
  {
  list-style:none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px;
  background-size: cover;
  background-position:50% 50%;
  color:#fff;
  -webkit-transform: translate3d(0px,0px,0px);
  visibility:hidden;
  -webkit-transform-style: preserve-3d;
  }

.alive { visibility:visible; }

.nav
  {
  position:absolute;
  z-index:9;
  top: 50%;
  cursor:pointer;
  color:#fff;
  opacity:0.7;
  transition: all 0.66s ease; -webkit-transition: all 0.66s ease;
  }

.nav:hover { opacity:1.0; }
#left { left:3%; }
#right { right:3%; }



/* This is Skill Section */

.container-skills{
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px 150px;
}

	.skillbar {
		position:relative;
		display:block;
		margin-bottom:30px;
		background:#efefef;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-webkit-transition:0.4s linear;
		-moz-transition:0.4s linear;
		-ms-transition:0.4s linear;
		-o-transition:0.4s linear;
		transition:0.4s linear;
		-webkit-transition-property:width, background-color;
		-moz-transition-property:width, background-color;
		-ms-transition-property:width, background-color;
		-o-transition-property:width, background-color;
		transition-property:width, background-color;
	}

	.skillbar-title {
		position:absolute;
		top:0;
		left:0;
		width:110px;
		font-weight:bold;
		font-size:13px;
		color:#fff;
		background:#6adcfa;
		-webkit-border-top-left-radius:3px;
		-webkit-border-bottom-left-radius:4px;
		-moz-border-radius-topleft:3px;
		-moz-border-radius-bottomleft:3px;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
	}

	.skillbar-title span {
		display:block;
		background:rgba(0, 0, 0, 0.15);
		padding:0 20px;
		height:30px;
		line-height:30px;
		-webkit-border-top-left-radius:3px;
		-webkit-border-bottom-left-radius:3px;
		-moz-border-radius-topleft:3px;
		-moz-border-radius-bottomleft:3px;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
	}

	.skillbar-bar {
		height:30px;
		width:0px;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}

	.skill-bar-percent {
		position:absolute;
		right:10px;
		top:0;
		font-size:11px;
		height:30px;
		line-height:30px;
		color:#ffffff;
		color:rgba(0, 0, 0, 0.5);
	}



/* This is Contact Section */
.container1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  color: #000;
  font-size: 100px;
}

.container-inner1 {
  display: table-cell;
  vertical-align: middle;
}

.nav2 h1 {

  text-align: center;

  font-weight: 300;
  letter-spacing: 0.1618em;
  line-height: 2.618em;
}
h1:hover {
  cursor: default;
}
h1 span {
  color: #2ecc71;
}


/* footer */

.footer {
  padding: 1rem;
  background: rgba($blue, .5);
  letter-spacing: 3px;
  color: black;
  text: {
    align: center;
    transform: uppercase;
  }



  

/* Mobile Queries */

@media only screen and (max-width: 600px) {

  .container-skills{
    padding: 0px 30px;
  }

  nav li {
    padding: 24px 4px;
  }

  nav li a {
    font-size: 13px;
  }

  .timeline {
    display:none;
  }

  #screen4 {
    display:none;
  }

  .bgvid{
  display: none;
  }

  .container1 {
    font-size: 48px;
  }

}
